
body {
  background-color: #f7f4f0;
}

#navbar {
  padding: 5px;
  display: block;
  text-align: center;
  li {
    list-style: none;
    text-align: center;
    width: 8em;
    display: inline-block;
    padding: .1em;
    padding-right: 50px;
    padding-left: 10px;
    border-radius: 20px;
    a {
      text-decoration: none;
      font-size: 1.5em;
      color: black;
      font-family: Helvetica;
      display: block;
      &:hover {
        color: red;
      }
    }
  }
}



.welcome-message h1 {
  text-align: center;
  font-weight: normal;
  animation: fadein 1s;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.paragraph {
  animation: fadein 2s;
  .paragraph-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
  }
  .paragraph-body {
    h3 {
        font-weight: normal;
    }
  }
}

.image {
  position: relative;
  max-height: 100vh;
  max-width: 40vw;
  width: auto;
  height: auto;
  float:right;
  animation: fadein 3s;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #04b6b1;
    min-width: 110px;
    animation: fadein .8s;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 15px;
}


.navbar ul li {
    display: block;
    color: #000000;
    padding: 0px;
    text-decoration: none;
    text-align: left;
    padding-left: 5px;
}

.navbar ul li:hover .dropdown-content {
    display: block;
}
